# Set up an OS details and browsers we test on.

[Windows_11_Firefox]
os = Windows
os_version = 11
browser = Firefox
browser_version = 105

[Windows_11_IE]
os = Windows
os_version = 11
browser = IE
browser_version = 11.0.19042.1266

[Windows_11_Chrome]
os = Windows
os_version = 11
browser = Chrome
browser_version = 106

[Windows_11_Opera]
os = Windows
os_version = 11
browser = Opera
browser_version =88.0.4412.40

[macOS_Monterey_Firefox]
os = macOS
os_version =Monterey
browser = Firefox
browser_version = 12

[macOS_Monterey_Safari]
os = mac OS 
os_version =Monterey
browser = Safari
browser_version = 12
